body
{
	font-family: 	Trebuchet MS,
					Lucida Grande,
					Lucida Sans Unicode,
					Lucida Sans,
					Tahoma,
					sans-serif;
	font-style: oblique;
}

.header
{
	float:left;
	text-align: center;
}