body
{
	background-color: #c2d6d6;
	height: 100%
}
a
{
	display: block;
}
.container-fluid
{
	position: relative;
	height: 100%;
}
.col-xs-12
{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar
{
	position: fixed;
	width: 100%;
}
.col-sm-6
{
	padding-left: 0px;
	padding-right: 0px;	
}

.list-group > a
{
	width:100%;
	display:block;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:5px;
	border-bottom:1px solid;
}

.menu-list-group
{
	padding-left: 0px !important;
}

.list-group
{
	box-shadow: 10px 10px 5px #888888;
	background-color: #FFFFFF;
}

.front-view
{
    font-size: 25px;
    height: 150px;
    margin-right: -20px;
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 0.9;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 0px;
}

.front-view.left
{
    border-radius: 40px 0px 0px 0px;
}

.front-view.right
{
    border-radius: 0px 0px 40px 0px;
}

.front-view-xs
{
    font-size: 15px;
    height: 50px;
    margin-right: -20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 0.9;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 0px;
    z-index: -1;
}

.front-view > div#right
{
	position: absolute;
	bottom: 0px;
	right:10px;
	color:#FFFFFF;
}


.front-view > div#left
{
	position: absolute;
	bottom: 0px;
	left:10px;
	color:#FFFFFF;
}

.center-view
{
	border-radius: 20px;
	height:120px;
	position:absolute;
	top:100px;
	z-index:2;
	font-size:25px;
	text-align:center;
	padding:20px  20px;
	opacity: .7;
	box-shadow: 10px 10px 5px #888888;
	text-shadow: 3px 3px #FCFCFC;
	background-color: #FFCCFF;
}

.footer
{
	background-color: #ffffff;
    bottom: 0;
    margin-top: 20px;
    opacity: 0.6;
    padding: 20px;
    right: 0;
    width: 100%;
    text-align: center;
    /*position: absolute;*/
}

.right-banner
{
	float:right;
	padding:4px;
	display: block;
	font-size: 20px;
    font-weight: bold;
}

.content-post
{
	box-shadow: 10px 10px 5px #888888;
	min-height: 100px;
	background-color: #FFFFFF;
}

.alternative-articles
{
	box-shadow: 10px 10px 5px #888888;
	min-height: 100px;
	background-color: #FFFFFF;
	float:right;
}

.alternative-articles > h4
{
	text-align: center;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.log-in-form
{
	background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    opacity: .95;
}

.form-img
{
	height: 100px;
}

.content-text
{
	padding: 10px;
}

.blog-intro
{
	margin-top:30px;
}

.information-text
{
	color: #FFFFFF;
    height: 300px;
    padding: 7%;
    -webkit-filter: grayscale(300%);
}

.posted-date
{
	bottom: 0;
    position: absolute;
    right: 10%;
    text-align: right;
}

.information-text#left-top
{
	border-radius: 40px 0 40px;
}

.information-text#right-top
{
	border-radius: 0px 40px 0 40px;
}

.information-text#left-bottom
{
	border-radius: 0 40px 0 40px;
}

.information-text#right-bottom
{
	border-radius: 40px  0 40px 0;
}

.information-text#middle-top
{
	border-radius: 0px 0px 40px 40px;
}

.information-text#middle-bottom
{
	border-radius: 40px 40px 0 0px;
}


.information-text > h4
{
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.information-text > p
{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.article-title
{
	position:absolute;
	top:70%;
	right:10%;
	background-color: #ffffff;
	padding:20px;
	border-radius:20px;
}

@media (max-width: 800px)
{
	.article-title
	{
		font-size:15px;
		top: 40%;
	}

	.article-list
	{
		text-align:center;
		border:1px solid;
		box-shadow: 10px 10px 5px #888888;
		margin-bottom:12px !important;
		border-radius:10px !important;
		width: 45%;
		margin-right:2.5%;
		margin-left: 2.5%;
		float:left;
	}
}

.article-list
{
	text-align:center;
	border:1px solid;
	box-shadow: 10px 10px 5px #888888;
	margin-top:12px;
	border-radius:10px 10px 0px 0px;
}

.content-text > h4
{
	border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-left: 20px;
}

.content-text > p
{
	float:right;
}

.banner-headers
{
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid;
	box-shadow: 10px 10px 5px #888888;
}


.subscription-confirm
{
	position:absolute;
	height:300px;
	width:70%;
	background-color:white;
	top:15%;
	left:15%;
	opacity:.9;
	border-radius:20px;
	text-align:center;
}

.subscription-confirm > div > button
{
	font-size:15px;
	min-width: 100px;
}

.subscription-small
{
	background-color: #FFFFFF;
	padding: 20px;
}

.subscription-small > div > button
{
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}
