<!DOCTYPE html>
<html>
<head>
	<title>Fitness, Goal, and Challenge Yourself</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/font_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/image_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/general_style.css" %}">
	<script type="text/javascript" src ="{% static "JavaScript/JQuery.js" %}"></script>
	<script type="text/javascript" src ="{% static "JavaScript/onload_script.js" %}"></script>
	<script type="text/javascript" src ="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-xs-12'>
				<nav class = 'navbar'>
					<div class="container-fluid">
						<div class = 'navbar-left'>
							<img src="{% static "Images/LOGO.svg" %}" class = 'img-logo'>
							<h5 class = 'header hidden-xs'>
								Strive to be Fit, Set a Goal, and Challenge Yourself!!!
							</h5>
						</div>
						<div class = 'right-banner'>
							<div class = 'hidden-xs'>
								<a href = 'http://{{request.get_host}}/'>
									Home
								</a>
							</div>
							<!--div class = 'hidden-xs'>
								<span class = 'glyphicon glyphicon-user'></span>
								<a href = 'http://{{request.get_host}}/Log-In/'>
									Log In / Register
								</a>
							</div-->
							<div class = 'visible-xs-block'>
								<div class="dropdown">
									<div id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class = 'glyphicon glyphicon-th-list'></span>
										<span class="caret"></span>
									</div>
									<ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
										<li>
											<a href = 'http://{{request.get_host}}/Running/'>
												Home
											</a>
										</li>
										<!--li>
											<a href = 'http://{{request.get_host}}/Log-In/'>
												Log In / Register
											</a>
										</li-->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class = 'container'>
		<div class = 'row'>
			<div class = 'col-xs-12' style = 'z-index: -1'>
				<img src="{% static "Images/JOSE.svg" %}" class = 'banner-image'>
			</div>
		</div>
		<div class = 'row'>
			<div class="col-sm-12 content-post">
				<div class="row">
					<div class="col-sm-3 hidden-xs">
					</div>
					<div class="col-sm-8 content-text">
						<h3>Determining Your Heart Rate in a Workout</h3>
						<p>
							The heart is one of the most crucial parts of the body and it communicates a lot about how we are feeling and if you are working out to your maximum potential. It is important to listen to it, especially when you’re putting strain on your body, such as exercising. But what exactly do you need to know and do for monitoring your heart rate? 
						</p>
						<div class = 'row'>
							<div class = 'col-sm-4'>
								<img src="{% static "Images/upload_images/heart_rate.jpeg" %}" class = "img-thumbnail">
							</div>
							<div class = 'col-sm-8'>
								<ul>
									<li>
										<b>
											Know your resting heart rate.
										</b>
										<ul> 
											It is at which your heart normally beats when you aren’t working out and can help determine what your target heart rate is.
										</ul>
									</li>
									<li>
										<b>
											Know your target heart rate.
										</b>
										<ul> 
											This is the heart rate you are trying to reach in your workout, if it is too low, then you aren’t working hard enough, too high and you might be pushing yourself too far.
										</ul>
									</li>
									<li>
										<b>
											Ways in monitoring your heart rate
										</b>
										<ul>
											You can take your heart rate with a monitor connected to the exercise machine, checking your pulse at your wrist or throat, or even through physical symptoms during your workout.
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<p>
							Listening to your heart rate while you work out is extremely important, not only to optimize your workout, but to keep you safe as well. One of the keys to exercise and staying healthy is to listen to your body.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-sm-12 footer'>
				Fitness, Goal & Challenge &copy; (2016-2017) 
			</div>
		</div>
	</div>
</body>
</html>

