<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{data.0.title | safe}} &mdash; Conquering A Hill</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/font_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/image_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/general_style.css" %}">
	<script type="text/javascript" src ="{% static "JavaScript/JQuery.js" %}"></script>
	<script type="text/javascript" src ="{% static "JavaScript/onload_script.js" %}"></script>
	<script type="text/javascript" src ="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	{% if request.get_host != "localhost:8000" or request.get_host != "127.0.0.1:8000" %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-86706311-1', 'auto');
	  ga('send', 'pageview');

	</script>
	{% endif %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-6029882388187627",
	    enable_page_level_ads: true
	  });
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1810383789250744";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-xs-12'>
				<nav class = 'navbar'>
					<div class="container-fluid">
						<div class = 'navbar-left'>
							<img src="{% static "Images/LOGO.svg" %}" class = 'img-logo'>
							<h5 class = 'header hidden-xs'>
								Strive to be Fit, Set a Goal, and Challenge Yourself!!!
							</h5>
						</div>
						<div class = 'right-banner'>
							<div class = 'hidden-xs'>
								<a href = 'http://{{request.get_host}}/'>
									Home
								</a>
							</div>
							<!--div class = 'hidden-xs'>
								<span class = 'glyphicon glyphicon-user'></span>
								<a href = 'http://{{request.get_host}}/Log-In/'>
									Log In / Register
								</a>
							</div-->
							<div class = 'visible-xs-block'>
								<div class="dropdown">
									<button id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class = 'glyphicon glyphicon-th-list'></span>
									</button>
									<ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
										<li>
											<a href = 'http://{{request.get_host}}/'>
												Home
											</a>
										</li>
										<!--li>
											<a href = 'http://{{request.get_host}}/Log-In/'>
												Log In / Register
											</a>
										</li-->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class = 'container'>
		<div class = 'row'>
			<div class = 'col-xs-12 article-image-container'>
				<img src="{{request.scheme}}://{{ request.get_host }}/{{data.0.image}}" class = 'article-image' alt = "Image for {{data.0.title}}">
				<h3 class = 'article-title'>{{data.0.title | safe}}</h3>
				{% if data.0.image_credit != "" %}
					<p class = 'img-credit'>
						Credit: {{data.0.image_credit}}
					</p>
				{% endif %}
			</div>
		</div>
		<div class = 'row'>
			<div class="col-sm-12 content-post">
				<div class="row">
					<div class="col-sm-3 hidden-xs">
						<div class="fb-like" data-href="https://www.facebook.com/conqueringahill/"  style = 'margin-top:20px' data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
						<h4 style = 'text-align:center'>Next Readings</h4>
						{% for blogs in blog_list %}
							<div class = 'article-list' >
								<a href = '{{request.scheme}}://{{ request.get_host }}/Articles/{{blogs.uri}}/'>
									<h6>{{blogs.title | safe}}</h6>
								</a>
							</div>
						{% endfor %}
						
					</div>
					<div class="col-sm-8 col-xs-12 content-text">
						{{data.0.body | safe}}
						<p><u>Posted: {{data.0.timestamp}}</u></p>
					</div>

					<div class = 'col-xs-12 visible-xs'>
						<div class="fb-like" data-href="https://www.facebook.com/conqueringahill/"  style = 'margin-top:20px' data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
						<h5>Next Readings</h5>
						{% for blogs in blog_list %}
							<div class = 'article-list' >
								<a href = '{{request.scheme}}://{{ request.get_host }}/Articles/{{blogs.uri}}/'>
									<h6>{{blogs.title | safe}}</h6>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-sm-12 footer'>
				Fitness, Goal & Challenge &copy; (2016-2017) 
			</div>
		</div>
	</div>
</body>
</html>

