
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fitness, Goal, and Challenge Yourself &mdash; Conquering A Hill</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/font_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/image_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/general_style.css" %}">
	<script type="text/javascript" src ="{% static "JavaScript/JQuery.js" %}"></script>
	<script type="text/javascript" src ="{% static "JavaScript/onload_script.js" %}"></script>
	<script type="text/javascript" src ="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	{% if request.get_host != "localhost:8000" or request.get_host != "127.0.0.1:8000" %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-86706311-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-6029882388187627",
	    enable_page_level_ads: true
	  });
	</script>
	{% endif %}
	<link rel="apple-touch-icon" sizes="57x57" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{request.scheme}}://{{ request.get_host }}/static/Images/favicon/manifest.json">
</head>
<body>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-xs-12'>
				<nav class = 'navbar'>
					<div class="container-fluid">
						<div class = 'navbar-left'>
							<img src="{% static "Images/LOGO.svg" %}" class = 'img-logo'>
							<h5 class = 'header hidden-xs'>
								Strive to be Fit, Set a Goal, and Challenge Yourself!!!
							</h5>
						</div>
						<div class = 'right-banner'>
							<div class = 'hidden-xs'>
							</div>
							<div class = 'visible-xs-block'>
								<div class="dropdown">
									<button class = 'btn' id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class = 'glyphicon glyphicon-menu-hamburger'></span>
									</button>
									<ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
										<!--li>
											<a href = 'http://{{request.get_host}}/Log-In/'>
												Log In / Register
											</a>
										</li-->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<img src="{% static "Images/JOSE.svg" %}" class = 'banner-image'>
				<div class = 'search-box'>
					<input type = 'text' class = 'form-control search-content' placeholder = "Search">
				</div>
			</div>
		</div>
		<div class = 'content-box'>
			<h3 class = 'banner-headers'>
				Articles
			</h3>
			<div class = 'row'>
				{% for article in data%}
					<div class = 'col-sm-6 blog-intro'>
						<div class = 'information-text' id = '{% cycle 'left-top' 'middle-top' 'right-top' 'left-bottom' 'middle-bottom' 'right-bottom' %}' style = 'background: url({{request.scheme}}://{{ request.get_host }}/{{article.image}});background-size:cover;' >
							<h4>{{article.title | safe}}</h4>
							<p>
								{{article.summary | safe}} <a href = '{{request.scheme}}://{{ request.get_host }}/Articles/{{article.uri}}/' style = 'color:#FFFFFF'>Read More</a>
							</p>
							<div style = 'display: none'>{{article.summary | safe}}</div>
							<div class = 'posted-date'><h5>Posted: <medium>{{article.timestamp}}</medium></h5></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class = 'search-results'>
		</div>
		<div class = 'row'>
			<div class = 'col-sm-12 footer'>
				<div>Fitness, Goal & Challenge &copy; (2016-2017)</div> 
				<div class = 'contact'>
					Contact Us:
				</div>
				<div class = 'email-contact'>
					nohilltoobig@conqueringahill.com
				</div>
			</div>
		</div>
	</div>
</body>
</html>

