<!DOCTYPE html>
<html>
<head>
	<title>Fitness, Goal, and Challenge Yourself</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/font_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/image_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/general_style.css" %}">
	<script type="text/javascript" src ="{% static "JavaScript/JQuery.js" %}"></script>
	<script type="text/javascript" src ="{% static "JavaScript/onload_script.js" %}"></script>
	<script type="text/javascript" src ="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-xs-12'>
				<nav class = 'navbar'>
					<div class = 'navbar-left'>
						<img src="{% static "Images/LOGO.svg" %}" class = 'img-logo'>
						<h5 class = 'header hidden-xs'>
							Strive to be Fit, Set a Goal, and Challenge Yourself!!!
						</h5>
					</div>
					<div class = 'right-banner'>
						<a href = 'http://{{request.get_host}}'>
							<span class = 'glyphicon glyphicon-home'></span> Home Page
						</a>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class = 'container'>
		<img src="{% static "Images/JOSE.svg" %}" class = 'banner-image'>
		<div class = 'row'>
			<div class = 'col-xs-offset-2 col-xs-8 log-in-form'>
				<form class = 'form-horizontal'>
					<div class = 'form-img'>
						<img src="{% static "Images/LOGO.svg" %}">
					</div>
					<div class = 'form-group'>
						<label class = 'col-sm-3 control-label'>
							Username:
						</label>
						<div class = 'col-sm-9'>
							<input type = 'text' name = 'username' class = 'form-control'>
						</div>
					</div>
					<div class = 'form-group'>
						<label class = 'col-sm-3 control-label'>
							Password:
						</label>
						<div class = 'col-sm-9'>
							<input type = 'password' name = 'username' class = 'form-control'>
						</div>
					</div>
					<div class = 'form-group'>
						<div class = 'col-sm-offset-4'>
							<button class = 'btn'>Log In</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class = 'row'>
			<div class = 'col-sm-12 footer'>
				Fitness, Goal & Challenge &copy; (2016-2017) 
			</div>
		</div>
	</div>
</body>
</html>

